<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render '/shared/header'%>
    <div hidden><%= @shop3 = Shop.all%></div>
    <title>Document</title>
</head>
<body>
<h1>店舗一覧</h1>
    <div class=waku>
    <% @shop3.each do |tenpo|%>
        <div class=yoko>
        <%= tenpo.shopname %>
        <br>
        <% if tenpo.image.attached? %>
            <%= image_tag tenpo.image, size: '400x300'%>
        <% end %>
        </div>
    <% end %>
    </div>
</body>
</html>
<style>
.yoko{
    text-align:center;
    width: 50%;
    box-sizing: border-box;
}
.waku{
    display:flex;
    flex-wrap:wrap;
}
</style>