<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <%= render '/shared/header'%>
</head>
<body>
    <h1>退会しますか?</h1>
    <%= link_to "はい","/users/break_out"%>
    <%= link_to "いいえ","/users/logged_in"%>
</body>
</html>