h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
li{
    size: 10px;
    display: inline;
}
h3 p{
    margin-bottom: 2em;
}
.head{
    color: red;
    font-size: 50px;
    font-weight: bold;
}
.head_right{
    margin: 0 0 0 auto;
}